.menu{
    width: 100%;
}

.menu ul {
    z-index:100;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu#compte ul {
    left: auto!important;
    right: 0;
}

/*Top level list items*/
.menu ul li{
    position: relative;
    display: inline;
    float: left;
    background-color: #144566;
}

.menu ul li.actif {
    background-color : #2070a6;
}

/*Top level menu link items style*/
.menu ul li a{
    display: block;
    color: white;
    padding: 10px;
    color: #2d2b2b;
    text-decoration: none;
}

.menu#compte ul li a {
    padding : 0px;
}

.menu#compte ul li ul li a {
    padding : 5px;
}

* html .menu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
    display: inline-block;
}

.menu ul li a:link, .menu ul li a:visited{
    color: white;
}

.menu ul li a.selected { /*CSS class that's dynamically added to the currently active menu items' LI A element*/
    background: #2070a6 !important; 
    color: white;
}

.menu ul li a:hover{
    background: #2070a6; /*background of menu items during onmouseover (hover state)*/
    color: white;
}

.menu ul li a img {
    vertical-align: middle;
}

/* sub menus */
.menu ul li ul{
    position: absolute;
    left: -3000px;
    display: none; /*collapse all sub menus to begin with*/
    visibility: hidden;
}

/*Sub level menu list items (alters style from Top level List Items)*/
.menu ul li ul li{
    display: list-item;
    float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.menu ul li ul li ul{
    top: 0;
}

/* Sub level menu links style */
.menu ul li ul li a{
    font: normal 13px Verdana;
    width: 160px; /*width of sub menus*/
    padding: 5px;
    margin: 0;
    border-top-width: 0;
    border-bottom: 1px solid gray;
}

/* Holly Hack for IE \*/
* html .menu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
    position: absolute;
    top: 12px;
    right: 7px;
}

.rightarrowclass{
    position: absolute;
    top: 6px;
    right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{ 
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    background-color: #ccc; /* generally should be just a little lighter than the box-shadow color for CSS3 capable browsers */
}

.toplevelshadow{
    margin: 5px 0 0 5px; /* in NON CSS3 capable browsers gives the offset of the shadow */
    opacity: 0.8; /* shadow opacity mostly for NON CSS3 capable browsers. Doesn't work in IE */
}

.ddcss3support .ddshadow.toplevelshadow {
    margin: 0; /* in CSS3 capable browsers overrides offset from NON CSS3 capable browsers, allowing the box-shadow values in the next selector to govern that */
    /* opacity: 1; */ /* optionally uncomment this to remove partial opacity for browsers supporting a box-shadow property which has its own slight gradient opacity */
}

.ddcss3support .ddshadow {
    background-color: transparent;
    box-shadow: 5px 5px 5px #aaa; /* box-shadow color generally should be a little darker than that for the NON CSS3 capable browsers background-color */
    -moz-box-shadow: 5px 5px 5px #aaa;
    -webkit-box-shadow: 5px 5px 5px #aaa;
}