/* Général */
html, body, p, ul, li, table, h1, h2, h3, h4, h5, h6, input {
    margin : 0;
    padding : 0;
}

.preload, #avatar_garder, #avatar_choisir {
    display : none;
}

body, html {
    background-color : #EBEBEB;
    margin : 0;
    padding : 0;
    font-family : Verdana, Arial, Helvetica, sans-serif;
    color : black;
    font-size : 12px;
    height : 100%;
}

.wrapper {
    height: auto;
    margin-bottom: -55px;
    min-height: 100%;
}

input, textarea, select, .CodeMirror {
    padding : 5px;
    font-family : Verdana;
    font-size : 12px;
    border : none;
    box-shadow: 1px 1px 5px 1px #000000;
    border-radius : 5px;
    display : block;
}

input[type=submit], input[type=reset], input[type=button] {
    cursor : pointer;
}

#boutonSubmit[disabled] {
    cursor : default;
    background-color : #AAAAAA;
    background-image : url("../img/refuse.png");
}

#boutonSubmit[disabled]:hover {
    cursor : default;
    color : #134568;
}

textarea {
    resize : none;
    width : 98%;
}

p {
    margin-bottom : 20px;
    text-align : justify;
}

.contenuPage ul li, article ul li, section ul li {
    list-style-position: inside;
}

article ul, section ul{
    margin-bottom : 20px;
}

.warning {
    font-weight: bold;
    font-style: italic;
    font-size : 10px;
    background-image : url("../img/warning.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding : 10px 10px 10px 20px;
    color : #134568;
}

label.error {
    font-weight : bold;
    background-image : url("../img/refuse.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding : 10px 10px 10px 20px;
    color : #CC0000;
    display : block;
}

.verification {
    color : #CC0000;
    padding-top : 10px;
    font-weight : bold;
}

ul#listeRubriques li {
    display : block;
    list-style-type: none;
    padding : 5px;
    margin : 10px 0px;
    box-shadow: 1px 1px 5px 1px #000000;
    border-radius: 5px;
    font-weight : bold;
    color : #134568;
}

ul#listeRubriques.modifiable li {
    cursor:pointer;
}

ul#listeRubriques li.highlight{
    background : #EBEBEB;
    border : 1px dashed black;
    height : 16px;
}

/* Titres */

h1 {
    color: #134568;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 5px;
    text-align: center;
}

h2, .contenuPage .titre, #commentaires .titre {
    font-weight : bold;
    font-size : 16px;
    margin-bottom : 20px;
    text-align : center;
    font-weight : bold;
    color : #134568;
    text-decoration : underline;
}

/* Liens */

a, a:visited {
    font-weight : bold;
    color : #134568;
    text-decoration : underline;
}

a:active, a:hover {
    font-weight : bold;
    color : #3997da;
    text-shadow : 0px 0px 10px #ffc965;
    text-decoration : underline;
}

a img {
    border : 0px;
}

/* Divers */
.centre {
    text-align : center;
}

.gauche {
    float : left;
}

.droite {
    float : right;
}

.clear {
    clear : both;
}

hr {
    border-top : 1px solid #414141;
    border-left : 0px;
    border-right : 0px;
    border-bottom : 0px;
    height : 1px;
    margin : 10px 0px;
}

/* Formes principales */

.conteneur {
    width : 980px;
    margin : 0 auto;
}

header {
    box-shadow: 1px 1px 5px 1px #000000;
    background-color : #144566;
    font-size : 14px;
    color : white;
}

header a#logo {
    float : left;
    background-image : url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: left center;
    width : 200px;
    height : 38px;
    padding : 0px;
}

header a, header a:visited {
    color : white;
    text-decoration : none;
    padding : 10px;
}

header a:hover, header a:active {
    color : white;
    background-color : #2070a6;
    text-decoration : none;
}

nav {
    float : left;
    margin-left : 30px;
}

.contenu {
    background-color : #ebebeb;
    margin : 20px 0px 0px;
    box-shadow: 1px 1px 5px 1px #000000;
    border-radius: 5px;
    text-align : justify;
}

#contenu {
    height : 100%;
}

footer {
    background-color : #144566;
    margin : 20px 0px 0px;  
    padding : 5px;
    box-shadow: 1px 1px 5px 1px #000000;
    color : white;
}

footer a, footer a:visited, footer a:hover, footer a:active {
    color : white;
}

footer p {
    padding : 5px;
    margin : 0;
    text-align : center;
}

.membre {
    float : right;
    font-weight : bold;
    font-size : 12px;
}

section {
    margin: 0 auto;
    min-height: 100%;
    padding: 10px 0px 100px;
    width: 980px;
}

table.formulaire {
    text-align : left;
    margin : 0 auto;
}

table tr td.label {
    text-align : right;
    font-weight: bold;
    color : #134568;
    vertical-align: top;
    padding-top : 10px;
    padding-left : 0px;
    padding-bottom : 0px;
    padding-right : 0px;
}

/* News */
article, .contact_membre, .contenuPage, .bouton, .bouton_gauche, .bouton_droite, header a.bouton {
    margin : 0px 0px 20px;
    padding : 10px;
    border-radius : 5px;
    box-shadow: 1px 1px 5px 1px #000000;
    background-color : #F8F8F8;
}

.bouton, .bouton:visited, .bouton_gauche, .bouton_gauche:visited, .bouton_droite, .bouton_droite:visited, header a.bouton {
    border : none;
    display : inline-block;
    padding : 5px;
    vertical-align : middle;
    text-decoration : none;
    font-size : 14px;
    font-weight: bold;
    color : #134568;
}

.bouton:active, .bouton:hover, .bouton_gauche:active, .bouton_gauche:hover, .bouton_droite:active, .bouton_droite:hover {
    border : none;
    display : inline-block;
    vertical-align : middle;
    background-color : #EAEAEA;
    text-decoration : none;
    font-size : 14px;
    font-weight: bold;
    color : #3997da;
    text-shadow : 0px 0px 10px #ffc965;
}

input[type=submit] {
    background-image : url("../img/accept.png");
    background-position: 4px center;
    background-repeat: no-repeat;
    padding-left : 20px;
}

.bouton#back, .bouton#changePassword, .bouton#removeAccount, .bouton#updateRSS {
    background-position: 4px center;
    background-repeat: no-repeat;
    padding-left : 20px;
    margin-right : 10px;
}

.bouton#back {
    background-image : url("../img/back.png");
}

.bouton#changePassword {
    background-image : url("../img/key.png");
}

.bouton#removeAccount {
    background-image : url("../img/remove.png");
}

.bouton#updateRSS {
    background-image : url("../img/rss.png");
}

a.bouton img, a.bouton_gauche img, a.bouton_droite img {
    vertical-align : bottom;
}

a.bouton_gauche {
    float : left;
}

a.bouton_droite {
    float : right;
}

.contact_membre .pseudo {
    font-weight : bold;
    font-size : 16px;
}

article .auteur, .avancement .titre_avancement {
    float : left;
    padding : 5px;
}

article .comments {
    float : right;
    padding : 5px;
    font-style : italic;
}

article .infos, .avancement .infos {
    margin : 5px 0px 20px;
    border-radius : 5px;
    box-shadow: 1px 1px 5px 1px #000000;
}

article .date, .avancement .date {
    float : left;
    font-weight : bold;
    background-color : #022547;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color : white;
    padding : 5px 10px;
}

article .comments {
    float : right;
}

img.avatar {
    width : 100px;
    border-radius : 20px;
    box-shadow: 1px 1px 5px 1px #000000;
}

article img.avatar, #commentaires .contenuPage img.avatar {
    float : right;
    margin-left : 20px;
}

#commentaires .contenuPage .auteur {
    font-weight: bold;
}

#commentaires .contenuPage .date {
    font-style: italic;
}

article .tags {
    float : right;
    font-size : 10px;
    padding : 5px;
    border-radius : 5px;
    box-shadow: 1px 1px 5px 1px #000000;
}

article .commentaires {
    font-size : 14px;
    float : left;
    margin : 5px 0px;
}

/* Contact */

.contact_membre .role {
    font-style : italic;
}

.contact_membre img.avatar {
    float : left;
    margin-right : 20px;
}

table.tableau {
    width : 100%;
    border-collapse : collapse;
}

table.tableau tr td, table.formulaire tr td {
    padding : 5px;
}

table.tableau tr th {
    padding : 5px;
    font-weight: bold;
    text-align : center;
}

table.tableau tr th img {
    vertical-align: bottom;
}

table.tableau tr td {
    border : 1px solid #414141;
}

table.tableau tr td.icone {
    width : 16px;
    border : none;
}

#checkbox_avatar {
    margin-bottom : 10px;
}

#avatar_garder, #avatar_choisir {
    margin-top : 20px;
}

ul.listeSansPuces {
    list-style : none;
}

ul.listeSansPuces li a, ul.listeSansPuces li a:visited {
    text-decoration : none;
}

ul.listeSansPuces li a:active, ul.listeSansPuces li a:hover {
    text-decoration : underline;
}

.stats_boutons {
    text-align : center;
    margin-top : 10px;
}

.stats_boutons a {
    margin : 0px 5px;
}

table.loading {
    width : 100%;
    height : 100%;
}

article table, section table {
    margin : 0 auto;
}

article table tr td, section table tr td {
    padding : 25px;
}

table.tableau ul {
    margin-bottom : 0px; 
}

header a.bouton, header a.bouton:visited {
    background-color : #2070A6;
    font-size : 12px;
    margin : 7px 5px;
    color : white;
    box-shadow: 2px 2px 5px 2px #121B22;
}

header a.bouton:hover, header a.bouton:active, header a.bouton#actif {
    color : white;
    background-color : #5C8FB4;
    font-size: 12px;
}

header img.avatar_header {
    height : 35px;
    width : 35px;
}

.avancement .infos {
    margin: 10px 0;
}

.avancement .titre_avancement {
    float : none;
    font-weight: bold;
}

.avancement .date {
    margin-right : 5px;
}

.clickable {
    cursor : pointer;
}

.avancement h1 {
    color : black;
    text-align : left;
    font-size : 12px;
    text-decoration : underline;
}