header a, header a:active, header a:visited, header a:hover {
    text-decoration: none;
}

header #header_titre {
    display : block;
    font-weight : bold;
    padding : 5px;
    font-size : 20px;
}

.contenu, footer {
    border-radius : 0px;
    margin : 10px 0px 0px;
}

img {
    height : auto;
    max-width : 100%;
}