textarea {
    width : auto;
}

nav {
    border-bottom: 1px solid #414141;
}

.jd_menu li, input, textarea, select, .membre,
article, .contact_membre, .contenuPage, .bouton, .bouton_gauche, .bouton_droite,
article .infos, img.avatar, article .tags, header, .contenu, footer,
.bouton:hover, .bouton:active, .bouton_gauche:hover, .bouton_gauche:active,
.bouton_droite:hover, .bouton_droite:active, ul#listeRubriques li, img.screen {
    border : 1px solid #414141;
}